<form action="/play" method="get" class="form">
  <label for="player1">Player 1 pick your mark</label>
  <input id="player1" name="player1" type="radio" value="X"checked>X
  <input id="player1"name="player1" type="radio" value="O">O
  <label for="player2">Player 2 choose the other mark</label>
  <input id="player2" name="player2" type="radio" value="X">X
  <input id="player2" name="player2" type="radio" value="O"checked>O
  <button type="submit">Play!</button>
</form>
